@page "{kh?}"
@model HocGiDo_CORE.Pages.baihocModel
@{
    ViewData["Title"] = "Danh sách bài học";
}

@section header{
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/ds_baihoc.css">
    <script src="~/js/ds_baihoc.js"></script>
}

<div class="tittle">
    <h3>Khóa học Html cơ bản</h3>
    <p>Trong khóa này chúng ta sẽ cùng nhau xây dựng giao diện html đơn giản!</p>
</div>
<div class="contain">
    <h2>Bạn sẽ học được gì</h2>
    <div class="whatLearning">
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
        <div class="learning">
            <i class='bx bx-check-circle'></i>
            <p>Biết cách xây dựng giao diện web với HTML</p>
        </div>
    </div>
    <div class="notification">
        <div class="gioithieu" id="myHeader">
            <img src="~/Img/logo.png">
            @if (Model.checkLogined)
            {
                @if (Model.checkRegisterCourse)
                {
                    <div class="danghoctoi">
                        <p>Học tiếp</p>
                    </div>
                }
                else
                {
                    <div class="dangky">
                        <p>Đăng ký ngay!</p>
                    </div>
                }
            }
            else
            {
                <div class="dangky">
                    <a href="/dangnhap">
                        <p>Đăng nhập!</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="ds_hoc">
        <h2>Nội dung khóa học</h2>
        <div class="total">
            <p>13 phần</p>
            <p>113 bài học</p>
        </div>
        <div class="ds">
            @if (Model.checkRegisterCourse)
            {
                @foreach (var items in Model.listLesson.BaiHoc)
                {
                    <a href="/hoc/@Model.courseID/@items.MaBaiHoc">
                        <div class="baihoc">
                            <i class='bx bx-play-circle'></i>
                            <p id="name">@items.TenBaiHoc</p>
                            <i id="number" class='bx bx-lock-open'></i>
                        </div>
                    </a>
                }
            }
            else
            {
                @foreach (var items in Model.listLesson.BaiHoc)
                {
                    <div class="baihoc">
                        <i class='bx bx-play-circle'></i>
                        <p id="name">@items.TenBaiHoc</p>
                        <i id="number" class='bx bx-lock-open'></i>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div style="clear: both;"></div>
