@page "{kh?}/{bh?}"
@model HocGiDo_CORE.Pages.codeModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Resource/lib/codemirror.css">
    <link rel="stylesheet" href="~/Resource/lib/theme/dracula.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="~/Resource/lib/codemirror.js"></script>
    <script src="~/Resource/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="~/Resource/mode/xml/xml.js"></script>
    <script type="text/javascript" src="~/Resource/mode/css/css.js"></script>
    <script src="https://unpkg.com/typeit@8.0.3/dist/index.umd.js"></script>
    <link rel="stylesheet" href="~/css/code.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <div class="left">
                <img src="~/Img/logo.png">
            </div>
            <div class="right">
                <div class="back">
                    <i class='bx bx-arrow-back'></i>
                    <p id="pBack" onclick="back()">Quay về</p>
                </div>
                <div class="play">
                    <i class='bx bx-play bx-flashing bx-flip-vertical'></i>
                    <p id="pPlay" onclick="sendCode()">Chạy thử</p>
                </div>
                <div class="save">
                    <i class='bx bxs-save'></i>
                    <p id="pSave">Lưu code</p>
                </div>
            </div>
        </div>
        <div class="code_side">
            <p class="tittle">Html</p>
            <textarea id="html" disabled></textarea>
            <p class="tittle">Css</p>
            <textarea id="css"></textarea>
        </div>
        <div class="code_side">
            <p class="tittle">Javascript</p>
            <textarea id="javascript"></textarea>
            <p class="tittle">Ghi chú</p>
            <textarea id="text"></textarea>
        </div>
        <div class="result">
            <iframe class="out" id="out"></iframe>
        </div>
    </div>
</body>

</html>

<script type="text/javascript" src="~/js/code.js"></script>

@if (Model.lesson != null)
{
<script>
    addCodeExample("@Html.Raw(@Model.lesson.CodeMau)", "@Html.Raw(@Model.lesson.MaKH)");
</script>
}
