@page
@model HocGiDo_CORE.Pages.dangkyModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/dangki.css">
    <link rel="stylesheet" type="text/css" href="~/css/alert.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Đăng ký</title>
</head>

<body>
    @if (ViewData["RegisterResult"] != null)
    {
        <div class="alert" id="alert">
            <div class="content_alert">
                <b>Thông báo: </b>@ViewData["RegisterResult"]
                <a class="btn_close" onclick="document.getElementById('alert').style.display = 'none'"><i class='bx bx-x'></i></a>
            </div>
        </div>
    }
    <div class="container">
        <form class="form-login" method="post">
            <h1>Đăng Ký</h1>
            <div class="form-text">
                <input type="text" placeholder="Tài khoản" asp-for="resgister.User" required>
            </div>
            <div class="form-text">
                <input type="password" placeholder="Mật khẩu" asp-for="resgister.Passworld" required>
            </div>
            <div class="form-text">
                <input type="text" placeholder="Họ và tên" asp-for="resgister.UserName" required>
            </div>
            <div class="form-text">
                <input type="date" placeholder="Mật khẩu Admin" asp-for="resgister.Birth" required>
            </div>
            <div class="form-text">
                <input type="number" placeholder="Số điện thoại" asp-for="resgister.PhoneNum" required>
            </div>
            <div class="form-text">
                <input type="text" placeholder="Địa chỉ" asp-for="resgister.Address" required>
            </div>
            <div class="form-text">
                <input type="email" placeholder="email" asp-for="resgister.Email" required>
            </div>
            <input type="submit" value="Đăng ký">
        </form>
    </div>
</body>

</html>
