@page
@model HocGiDo_CORE.Pages.dangnhapModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/css/dangnhap.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <title>Đăng nhập</title>
    </head>

    <div class="contain">
        <p>O day ne @ViewData["LoginResult"]</p>
        <div class="box">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
            <img src="~/Img/logo.png">
        </div>
        <div class="login">
            <div class="left"></div>
            <div class="form">
                <form method="post">
                    <img src="~/Img/logo.png">
                    <div>
                        <i class='bx bx-user-circle'></i>
                        <input type="text" placeholder="Tài khoản của bạn" asp-for="login.UserName">
                    </div>
                    <div>
                        <i class='bx bx-lock showP' id="show"></i>
                        <i class='bx bx-lock-open showP' id="close"></i>
                        <input id="pass" type="password" placeholder="Mật khẩu của bạn" asp-for="login.Passworld">
                    </div>
                    <div class="login_area">
                        <input type="submit" id="submit" value="Đăng nhập">
                        <input type="button" id="register" value="Đăng kí">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/dangnhap.js"></script>
