@page
@model HocGiDo_CORE.Pages.dangnhapModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/css/dangnhap.css">
        <link rel="stylesheet" type="text/css" href="~/css/alert.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <title>Đăng nhập</title>
    </head>

    <body>
        @if (ViewData["LoginResult"] != null)
        {
            <div class="alert" id="alert">
                <div class="content_alert">
                    <b>Thông báo: </b>@ViewData["LoginResult"]
                    <a class="btn_close" onclick="document.getElementById('alert').style.display = 'none'"><i class='bx bx-x'></i></a>
                </div>
            </div>
        }
        <div class="container">
            <form class="form-login" method="post">
                <h1>Đăng Nhập</h1>
                <div class="form-text">
                    <input type="text" placeholder="Tài khoản" asp-for="login.UserName">
                </div>
                <div class="form-text">
                    <input type="password" placeholder="Mật khẩu" asp-for="login.Passworld">
                </div>
                <input id="remember" type="checkbox" value="true" asp-for="login.Keeplogin"><label id="rememberLabel" for="remember">Nhớ đăng nhập</label>
                <input type="hidden" value="false" asp-for="login.Keeplogin">
                <input type="submit" value="Đăng nhập">
                <a href="/dangky">Chưa có tài khoản? Đăng ký ngay</a>
            </form>
        </div>

    </body>

    </html>
