@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

@section header{
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/TrangChu.css">
}

<div class="container">
    <div class="containSlide">
        <div class="slide_show">
            <div class="mySlides slide1" style="background-color: darkslategray;">
                <div id="text">
                    <p id="p1">Chào mừng đến với Học gì đó #1</p>
                    <p id="p2">Nơi học tập cũng như giúp bạn trao dồi kiến thức về kĩ năng lập trình của bạn!</p>
                    <p id="p3">Tham gia ngay</p>
                </div>
                <img src="https://www.pinclipart.com/picdir/big/36-367168_editor-and-writer-chibi-girl-reading-clipart.png">
                <div id="pic"></div>
            </div>
            <div class="mySlides slide2" style="background-color: darkgoldenrod;">
                <div id="text">
                    <p id="p1">Chào mừng đến với Học gì đó #2</p>
                    <p id="p2">Nơi giúp bạn tự tin hơn với kĩ năng lập trình!</p>
                    <p id="p3">Tham gia ngay</p>
                </div>
                <img src="https://www.pinclipart.com/picdir/big/36-367168_editor-and-writer-chibi-girl-reading-clipart.png">
                <div id="pic"></div>
            </div>
            <div class="mySlides slide3" style="background-color: darkgreen;">
                <div id="text">
                    <p id="p1">Chào mừng đến với Học gì đó #3</p>
                    <p id="p2">Nơi học tập cũng như giúp bạn trao dồi kiến thức về kĩ năng lập trình của bạn!</p>
                    <p id="p3">Tham gia ngay</p>
                </div>
                <img src="https://www.pinclipart.com/picdir/big/36-367168_editor-and-writer-chibi-girl-reading-clipart.png">
                <div id="pic"></div>
            </div>
        </div>
    </div>
    <div class="count">
        <p class="nextCount count1"></p>
        <p class="nextCount count2"></p>
        <p class="nextCount count3"></p>
    </div>
    <div class="content">
        @foreach (var items in Model.courses.KhoaHoc)
        {
            <a href="/baihoc/@items.MaKH" class="clickCourse">
                <div class="course">
                    <p id="p1" style="background-color: @items.MauSac ;">
                        @items.TenKH
                        @{ var ImgCourse = items.TenKH + ".jpg";}
                        <img src="~/CourseImage/@ImgCourse">
                    </p>
                    <div class="discrip">
                        <p id="p2">@items.MoTaKH</p>
                        <div id="view">
                            <i class='bx bx-user-check'></i>
                            <span id="p3">@items.LuotDK</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

@section footer{
    <script type="text/javascript" src="~/js/trangchu.js"></script>
}
