@page
@model HocGiDo_CORE.Pages.listModel
@{
}

<p>@Model.testParam</p>

<p>O day ne @ViewData["test"]</p>
<h3 style="color: red; font-weight: bold;">@Html.ValidationSummary(true, null, new { @class = "text-danger font-weight-bold color-red" })</h3>
<form method="post">
    Name:
    <input asp-for="testMD.Name" />
    <input asp-for="testMD.FullName" />
    <input type="submit" />
</form>
