    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
     :root {
        --main-color: #DD2F6E;
        --color-dark: #1D2231;
        --text-grey: #8390A2;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
    
    .sidebar {
        width: 345px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background: var(--main-color);
        z-index: 100;
        transition: width 300ms;
    }
    
    .sidebar-brand {
        height: 90px;
        padding: 1rem 0rem 1rem 2rem;
        color: #fff;
    }
    
    .sidebar-brand span {
        display: inline-block;
        padding-right: 1rem;
    }
    
    .sidebar-menu {
        margin-top: 1rem;
    }
    
    .sidebar-menu li {
        width: 100%;
        margin-bottom: 1.7rem;
        padding-left: 2rem;
    }
    
    .sidebar-menu a {
        display: block;
        color: #fff;
        font-size: 1.2rem;
    }
    
    .sidebar-menu a.active {
        background: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--main-color);
        border-radius: 30px 0px 0px 30px;
    }
    
    .sidebar-menu a span:first-child {
        font-size: 1.5rem;
        padding-right: 1rem;
    }
    
    #nav-toggle:checked+.sidebar {
        width: 70px;
    }
    
    #nav-toggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    
    #nav-toggle:checked+.sidebar li a {
        padding-left: 0rem;
    }
    
    #nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: none;
    }
    
    #nav-toggle:checked~.main-content {
        margin-left: 70px;
    }
    
    #nav-toggle:checked~.main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }
    
    .main-content {
        transition: margin-left 300ms;
        margin-left: 345px;
    }
    
    header {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        left: 345px;
        width: calc(100% - 345px);
        top: 0;
        z-index: 100;
        transition: left 300ms;
    }
    
    #nav-toggle {
        display: none;
    }
    
    .header h2 {
        color: #222;
    }
    
    .header label span {
        font-size: 1.7rem;
        padding-right: 1rem;
    }
    
    .search-wrapper {
        border: 1px solid #ccc;
        border-radius: 30px;
        height: 50px;
        display: flex;
        align-items: center;
        overflow-x: hidden;
    }
    
    .search-wrapper span {
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 1.5rem;
    }
    
    .search-wrapper input {
        height: 100%;
        padding: .5rem;
        border: none;
        outline: none;
    }
    
    .user-wrapper {
        display: flex;
        align-items: center;
    }
    
    .user-wrapper img {
        border-radius: 50%;
        margin-right: 1rem;
    }
    
    .user-wrapper small {
        display: inline-block;
        color: var(--text-grey);
    }
    
    main {
        margin-top: 85px;
        padding: 2rem 1.5rem;
        background: #f1f5f9;
        min-height: calc(100vh - 90px);
    }
    
    .tittle {
        text-align: center;
        font-size: 30px;
        color: rgb(156, 156, 156);
        border-bottom: 1px solid gray;
    }
    
    .custom-select {
        margin: 20px;
        position: relative;
        font-family: Arial;
    }
    
    .custom-select select {
        display: none;
        /*hide original SELECT element:*/
    }
    
    .select-selected {
        background-color: DodgerBlue;
    }
    /*style the arrow inside the select element:*/
    
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }
    /*point the arrow upwards when the select box is open (active):*/
    
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }
    /*style the items (options), including the selected item:*/
    
    .select-items div,
    .select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }
    /*style items (options):*/
    
    .select-items {
        position: absolute;
        background-color: DodgerBlue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }
    /*hide the items when the select box is closed:*/
    
    .select-hide {
        display: none;
    }
    
    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .leftInput {
        width: 45%;
        margin: 10px;
        float: left;
    }
    
    .rightInput {
        float: right;
        width: 45%;
        margin: 10px;
        text-align: center;
    }
    
    .rightInput img {
        width: 170px;
        border-radius: 100%;
    }
    
    .rightInput label {
        display: block;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: blue;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
    }
    
    .leftInput input {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    
    .leftInput textarea {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        resize: none;
    }
    
    .leftInput input:focus {
        outline: none;
    }
    
    .leftInput textarea:focus {
        outline: none;
    }

    .submit {
        background-color: #e64b84;
        color: #fff;
        cursor: pointer;
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    
    .submit:hover {
        background-color: #DD2F6E;
    }
    
    .listCourse {
        margin: 50px 10px 10px 10px;
        overflow: auto;
    }
    
    .listCourse table {
        width: 100%;
        text-align: center;
    }
    
    .listCourse th,
    td {
        border-bottom: 1px solid rgb(197, 197, 197);
        padding: 10px;
        min-width: 100px;
    }
    
    .listCourse td p {
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
    }
    
    .listCourse td #detail {
        background-color: rgb(111, 188, 190);
    }
    
    .listCourse td #delete {
        background-color: rgb(221, 55, 55);
    }

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #f1f5f9;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    transition: left 300ms;
}
/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    margin: 20px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
    
    @media only screen and (max-width: 1200px) {
        .sidebar {
            width: 70px;
        }
        .sidebar .sidebar-brand,
        .sidebar li {
            padding-left: 1rem;
            text-align: center;
        }
        .sidebar li a {
            padding-left: 0rem;
        }
        .sidebar .sidebar-brand h2 span:last-child,
        .sidebar li a span:last-child {
            display: none;
        }
        .main-content {
            margin-left: 70px;
        }
        .main-content header {
            width: calc(100% - 70px);
            left: 70px;
        }
    }
    
    @media only screen and (max-width: 960px) {}
    
    @media only screen and (max-width: 768px) {
        .search-wrapper {
            display: none;
        }
        .sidebar {
            left: -100% !important;
        }
        header h2 {
            display: flex;
            align-items: center;
        }
        header h2 label {
            display: inline-block;
            background: var(--main-color);
            padding-right: 0rem;
            margin-right: 1rem;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }
        header h2 span {
            text-align: center;
            padding-right: 0rem;
        }
        header h2 {
            font-size: 1.1rem;
        }
        .main-content {
            width: 100%;
            margin-left: 0rem;
        }
        header {
            width: 100% !important;
            left: 0 !important;
        }
        #nav-toggle:checked+.sidebar {
            left: 0 !important;
            z-index: 100;
            width: 345px;
        }
        #nav-toggle:checked+.sidebar .sidebar-brand,
        #nav-toggle:checked+.sidebar li {
            padding-left: 2rem;
            text-align: left;
        }
        #nav-toggle:checked+.sidebar li a {
            padding-left: 1rem;
        }
        #nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
        #nav-toggle:checked+.sidebar li a span:last-child {
            display: inline;
        }
        #nav-toggle:checked~.main-content {
            margin-left: 0rem !important;
        }
        .leftInput {
            width: 100%;
            float: none;
            margin: 0;
        }
        .leftInput input {
            margin: 10px 0 10px 0;
        }
        .leftInput textarea {
            margin: 10px 0 10px 0;
        }
        .rightInput {
            width: 100%;
            float: none;
            margin: 0;
        }
    }
    
    @media only screen and (max-width: 560px) {}