<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Admin/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("headerAdmin", false)
    <title>HocGiDo-Admin</title>
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span><span>Học Lập Trình</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/Adm/quanlykhoahoc">
                        <span class="las la-clipboard-list"></span>
                        <span>Khóa Học</span>
                    </a>
                </li>
                <li>
                    <a href="/Adm/quanlybaihoc">
                        <span class="las la-shopping-bag"></span>
                        <span>Bài Học</span>
                    </a>
                </li>
                <li>
                    <a href="/Adm/quanlynguoidung">
                        <span class="las la-user"></span>
                        <span>Người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="/Adm/LoginAdmin">
                        <span class="las la-sign-out-alt"></span>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> HocGiDo
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here" />
            </div>
            <div class="user-wrapper">
                <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="30px" height="30px" alt="">
                <div>
                    <h4>HOCGIDO</h4>
                    <small>Chế độ ADMIN</small>
                </div>
            </div>
        </header>
        <main>
            @if (TempData["AdminResult"] != null)
            {
                <div class="alert" id="alert">
                    <div class="content_alert">
                        <b>Thông báo: </b>@TempData["AdminResult"]
                        <a style="color: #fff" class="btn_close" onclick="document.getElementById('alert').style.display = 'none'"><i style="color: #fff" class='bx bx-x'></i></a>
                    </div>
                </div>
            }
            @RenderBody()
        </main>
    </div>
</body>

</html>

@RenderSection("footerAdmin", false)