body {
    background-color: #e5f9fe;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.login {
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?size=626&ext=jpg");
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    box-shadow: 2px 5px 10px black;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left {
    width: 50%;
}

.form {
    width: 50%;
    position: relative;
    text-align: center;
}

.form i {
    position: absolute;
    color: gray;
    font-size: 20px;
    left: 20px;
    line-height: 40px;
}

.form img {
    width: 70%;
    text-align: center;
}

.form .type {
    display: block;
    width: calc(100% - 70px);
    margin: 10px;
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: 1px solid gray;
}

.form .type:focus {
    outline: none;
}

.remember {
    display: flex;
    align-items: center;
    margin: 10px;
    color: rgba(63, 63, 63, 0.815);
}

.showP {
    cursor: pointer;
}

.login_area {
    display: flex;
    justify-content: space-between;
}

.login_area #submit {
    width: 70%;
    background-color: coral;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
}

.login_area #register {
    width: 40%;
    background-color: rgb(35, 194, 128);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
}

.form #submit:hover {
    background-color: rgb(255, 95, 37);
    transition: all 0.5s ease;
}

.login_area #register:hover {
    background-color: rgb(22, 153, 98);
    transition: all 0.5s ease;
}


/* Hieu ung background */

.box img {
    position: absolute;
    width: 100px;
    background-color: transparent;
    z-index: -1;
}

.box img:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box img:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box img:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box img:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box img:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box img:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box img:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box img:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box img:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box img:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

.box img:nth-child(11) {
    top: 40%;
    left: 90%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .login {
        width: 100%;
    }
    .form {
        width: 90%;
    }
}