* {
    text-align: left;
    transition: all 0.7s ease;
}

.contain {
    margin: 10px;
    padding: 10px;
    float: left;
    width: 100%;
}

.tittle {
    margin: 10px;
}

    .tittle h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .tittle p {
        margin: 10px 0 0 0;
        text-align: center;
        font-style: italic;
    }

.contain h2 {
    margin: 50px 10px 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.whatLearning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    width: 70%;
    float: left;
    line-height: 23px;
}

.learning {
    display: flex;
    padding: 10px;
}

    .learning i {
        margin: 0 10px 0 0;
        color: coral;
    }

.ds_hoc h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.total {
    display: flex;
    margin: 10px;
}

    .total p {
        margin: 0 10px 0 0;
    }

.ds a{
    text-decoration: none;
}

.baihoc {
    display: flex;
    background-color: rgb(204, 204, 204);
    color: rgb(56, 56, 56);
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    padding: 15px;
}

    .baihoc #name {
        line-height: 30px;
    }

    .baihoc i {
        margin: 0 10px 0 20px;
        color: coral;
        font-size: 30px;
    }

    .baihoc #number {
        position: absolute;
        right: 0;
        z-index: 99;
        font-family: cursive;
        line-height: 30px;
    }

    .baihoc .bx-lock-open {
        color: cadetblue;
    }

    .baihoc .bx-lock {
        color: rgb(221, 132, 132);
    }

    .baihoc:hover {
        background-color: rgb(180, 180, 180);
    }

    .baihoc::after {
        content: '';
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        right: 5px;
        top: 10px;
        border-radius: 50%;
        z-index: 1;
    }

.notification {
    width: 25%;
    float: right;
}

.gioithieu {
    background-color: #11101d;
    margin: 10px;
    padding: 0 0 10px 0;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
}

    .gioithieu img {
        width: 130px;
    }

    .gioithieu a{
        text-decoration: none;
        color: #fff;
    }

.dangky {
    color: white;
    margin: 10px;
}

.dangky p {
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    background-color: #ff7f50;
    text-align: center;
    cursor: pointer;
}

.dangky p:hover {
    background-color: #ff642c;
}

.themvaogio {
    display: flex;
    justify-content: space-between;
}

    .themvaogio p {
        width: 100%;
        margin: 10px;
        text-align: center;
        background-color: rgb(50, 152, 255);
        position: relative;
    }

    .themvaogio i {
        position: absolute;
        font-size: 20px;
    }

    .themvaogio p:hover {
        background-color: rgb(0, 128, 255);
    }

.danghoctoi {
    text-align: center;
}

    .danghoctoi p {
        background-color: coral;
        padding: 10px;
        margin: 20px 10px 10px 10px;
        border-radius: 12px;
        text-align: center;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

        .danghoctoi p:hover {
            background-color: #ff642c;
        }

@media only screen and (max-width: 600px) {
    .right_content {
        display: block;
        width: 100%;
    }

    .gioithieu {
        margin: 10px;
    }

    .contain {
        width: 100%;
        margin: 0;
    }

    .whatLearning {
        float: none;
        width: 100%;
    }

    .notification {
        width: 100%;
        float: none;
    }
}
