.left_contain {
    float: left;
    min-width: 20%;
    height: 100%;
    margin: 10px;
    border-right: 1px solid rgba(128, 128, 128, 0.589);
    min-height: 500px;
}

    .left_contain h3 {
        text-align: center;
    }

.list_items {
    margin: 50px 0 10px 10px;
}

    .list_items .items.active {
        border-right: 3px solid coral;
        background-color: rgba(231, 231, 231, 0.425);
        color: rgb(99, 99, 99);
        border-radius: 10px 0 0 10px;
    }

    .list_items .items {
        padding: 10px;
        line-height: 30px;
        cursor: pointer;
        color: rgba(207, 207, 207, 0.829);
        margin: 10px 0 10px 0;
    }

        .list_items .items:hover {
            background-color: rgba(231, 231, 231, 0.425);
            color: rgb(99, 99, 99);
            border-radius: 10px 0 0 10px;
        }

        .list_items .items p {
            margin: 0 0 0 30px;
        }

        .list_items .items i {
            position: absolute;
            line-height: 30px;
            font-size: 20px;
        }

.right_contain {
    width: 70%;
    float: left;
    min-height: 500px;
    overflow: hidden;
}

    .right_contain .detail {
        margin: 10px;
        width: 100%;
        display: none;
    }

        .right_contain .detail .picture {
            display: flex;
            align-items: center;
        }

.picture img {
    width: 100px;
    border-radius: 50px;
    background-color: black;
}

.picture p {
    margin: 10px;
    font-size: 20px;
    color: gray;
}

.information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box_inf {
    margin: 50px 10px 10px 10px;
}

    .box_inf .tittle {
        margin: 0 0 5px 5px;
        font-size: 10px;
        font-weight: bold;
        color: grey;
    }

    .box_inf .inf {
        background-color: rgba(238, 238, 238, 0.788);
        border: 1px solid rgb(218, 218, 218);
        border-radius: 5px;
        padding: 10px;
        width: 250px;
        text-align: center;
        color: black;
    }

.Chance p {
    background-color: coral;
    color: #fff;
    padding: 10px;
    margin: 30px 10px 10px 10px;
    border-radius: 7px;
    width: fit-content;
    cursor: pointer;
}

    .Chance p:hover {
        background-color: rgb(255, 104, 49);
    }

.baihoc {
    display: flex;
    background-color: rgb(204, 204, 204);
    color: rgb(56, 56, 56);
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    padding: 15px;
}

    .baihoc #name {
        line-height: 30px;
    }

    .baihoc i {
        margin: 0 10px 0 20px;
        color: coral;
        font-size: 30px;
    }

    .baihoc #number {
        position: absolute;
        right: 0;
        z-index: 99;
        font-family: cursive;
        line-height: 30px;
    }

    .baihoc .bx-lock-open {
        color: cadetblue;
    }

    .baihoc .bx-lock {
        color: rgb(221, 132, 132);
    }

    .baihoc:hover {
        background-color: rgb(180, 180, 180);
    }

    .baihoc::after {
        content: '';
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        right: 5px;
        top: 10px;
        border-radius: 50%;
        z-index: 1;
    }

.ds {
    max-height: 500px;
    overflow-x: auto;
}

.save {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

@media screen and (max-width: 1023px) {
    .left_contain {
        float: none;
        width: 100%;
        height: fit-content;
        margin: 0;
        min-height: 0;
    }

    .list_items {
        display: flex;
        flex-wrap: wrap;
    }

    .right_contain {
        float: none;
        width: 100%;
    }

        .right_contain .detail {
            width: 100%;
            margin: 0;
        }

    .information {
        display: block;
    }

    .box_inf .inf {
        width: 100%;
    }

    .right_contain .detail .picture {
        margin: 10px;
    }

    .list_items .items.active {
        border-right: 0;
        border-bottom: 3px solid coral;
        background-color: rgba(231, 231, 231, 0.425);
        color: rgb(99, 99, 99);
    }
}
