* {
    transition: all 0.5s ease;
    text-align: left;
}

.containSlide {
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_show {
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 12px;
    margin: 10px;
}

.mySlides {
    background-color: red;
    border-radius: 12px;
    height: 250px;
    width: 100%;
    flex-shrink: 0;
}

.slide1 {
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#5F32FF, white);
}

.slide2 {
    background-image: linear-gradient(#0190FE, white);
}

.slide3 {
    background-image: linear-gradient(#FE394A, white);
}

.mySlides #text {
    width: 70%;
    padding: 30px;
    float: left;
}

    .mySlides #text #p1 {
        text-align: left;
        font-size: 30px;
        color: white;
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .mySlides #text #p2 {
        text-align: left;
        font-size: 15px;
        color: white;
        margin: 0 0 20px 0;
    }

    .mySlides #text #p3 {
        padding: 10px;
        color: white;
        width: 50%;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
    }

.mySlides img {
    width: 150px;
    float: right;
    margin: 20px;
}

.count {
    display: flex;
    margin: 0 0 20px 0;
}

.count1.active {
    background-color: #5F32FF;
    width: 30px;
}

.count2.active {
    background-color: #0190FE;
    width: 30px;
}

.count3.active {
    background-color: #FE394A;
    width: 30px;
}

.count p {
    padding: 5px;
    background-color: #888888a1;
    margin: 10px;
    border-radius: 20px;
    width: 70px;
    transition: all 0.5s ease;
}


/* .count p.active {
    background-color: #0297fe;
    width: 30px;
} */

.content {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.course {
    width: 300px;
    cursor: pointer;
    z-index: 1;
}

.clickCourse {
    text-decoration: none;
}

.course:hover #p1 img {
    width: 120px;
    top: 10px;
}

.course:hover #p1 {
    font-size: 25px;
}

    .course:hover #p1::after {
        transition: all 0.5s ease;
        height: 170px;
        width: 170px;
        right: -40px;
        top: -10px;
    }

.course #p1::after {
    content: '';
    height: 170px;
    width: 170px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100%;
    right: -40px;
    top: -10px;
    z-index: 0;
}

.course #p1 {
    padding: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: darkorange;
    border-radius: 12px;
    height: 150px;
    text-align: left;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

    .course #p1 img {
        position: absolute;
        width: 100px;
        top: 25px;
        z-index: 2;
        right: 0;
    }

.course .discrip {
    text-align: left;
    margin: 10px;
    font-size: 15px;
}

.discrip #p2 {
    font-weight: bold;
    color: black;
}

.discrip #view {
    font-size: 10px;
    margin: 10px 0 0 0;
    color: rgba(128, 128, 128, 0.719);
}

@media only screen and (max-width: 600px) {
    .mySlides {
        height: 250px;
    }

        .mySlides #text {
            width: 100%;
            padding: 30px;
            float: left;
        }

        .mySlides img {
            display: none;
        }

    .course {
        width: 350px;
        cursor: pointer;
        z-index: 1;
    }
}
