@page
@model HocGiDo_CORE.Pages.Adm.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="cards">
    <div class="card-single">
        <div>
            <h1>54</h1>
            <span>Tài Khoản</span>
        </div>
        <div>
            <span class="las la-users"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>20</h1>
            <span>Khóa Học</span>
        </div>
        <div>
            <span class="las la-clipboard"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>124</h1>
            <span>Bài Học</span>
        </div>
        <div>
            <span class="las la-shopping-bag"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>Mới</h1>
            <span>Đăng Ký Khóa học</span>
        </div>
        <div>
            <span class="lab la-google-wallet"></span>
        </div>
    </div>
</div>
<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h2>Recent Projects</h2>
                <button>See all <span class="las la-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Project Title</td>
                                <td>Department</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>UI/UX Design</td>
                                <td>UI Team</td>
                                <td>
                                    <span class="status purple"></span> review
                                </td>
                            </tr>
                            <tr>
                                <td>Web development</td>
                                <td>Frontend</td>
                                <td>
                                    <span class="status pink"></span> in progress
                                </td>
                            </tr>
                            <tr>
                                <td>Ushop app</td>
                                <td>Mobile Team</td>
                                <td>
                                    <span class="status orange"></span> pending
                                </td>
                            </tr>
                            <tr>
                                <td>UI/UX Design</td>
                                <td>UI Team</td>
                                <td>
                                    <span class="status purple"></span> review
                                </td>
                            </tr>
                            <tr>
                                <td>Web development</td>
                                <td>Frontend</td>
                                <td>
                                    <span class="status pink"></span> in progress
                                </td>
                            </tr>
                            <tr>
                                <td>Ushop app</td>
                                <td>Mobile Team</td>
                                <td>
                                    <span class="status orange"></span> pending
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <h2>New customers</h2>
                <button>See all <span class="las la-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="customer">
                    <div class="info">
                        <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Diệp Quang Đức</h4>
                            <small>CEO Excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Nguyễn Thanh Hào</h4>
                            <small>CEO Excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Nguyễn Phát Thành Tài</h4>
                            <small>CEO Excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Nguyễn Phát Thành Tài</h4>
                            <small>CEO Excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://gamek.mediacdn.vn/thumb_w/640/133514250583805952/2021/9/7/photo-1-16310152604821794731420.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Nguyễn Phát Thành Tài</h4>
                            <small>CEO Excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>