@page "{bh?}"
@model HocGiDo_CORE.Pages.Adm.quanlycauhoiConModel
@{
    Layout = "";
}

<div class="leftInput">
    <input type="text" placeholder="Câu hỏi">
    <input type="text" placeholder="Đáp án 1">
    <input type="text" placeholder="Đáp án 2">
    <input type="text" placeholder="Đáp án 3">
    <input type="text" placeholder="Đáp án 4">
    <input id="submit" type="submit" value="Thêm câu hỏi">
</div>
<div class="listCourse" style="height: 350px;">
    <table>
        <tr>
            <th>Câu hỏi</th>
            <th>Hành động</th>
        </tr>
        @foreach (var items in Model.listQuestion.CauHoi)
        {
            <tr>
                <td>@items.MaCauHoi</td>
                <td>
                    <p id="detail" onclick="modalPopup('exam', 'null', '@Html.Raw(Model.lessonId)', '@Html.Raw(items.MaCauHoi)')">Sửa</p>
                    <p id="delete">Xóa</p>
                </td>
            </tr>
        }
    </table>
</div>