@page
@model HocGiDo_CORE.Pages.Adm.suacauhoiConModel
@{
    Layout = "";
}

<form method="post" enctype="multipart/form-data">
    <div class="leftInput" style="width: 100%;">
        <input type="text" placeholder="Câu hỏi">
        <input type="text" placeholder="Đáp án 1">
        <input type="text" placeholder="Đáp án 2">
        <input type="text" placeholder="Đáp án 3">
        <input type="text" placeholder="Đáp án 4">
        <input id="submit" type="submit" value="Cập nhật câu hỏi">
    </div>
</form>