@page

@model HocGiDo_CORE.Pages.suakhoahocConModel
@{
    Layout = "";
}
@if (Model.course.MaKH != null)
{
    <form method="post" enctype="multipart/form-data">
        <div class="leftInput">
            <input asp-for="updateCourse.MaKHUpdate" type="text" placeholder="Mã khóa học" value="@Model.course.MaKH" readonly required>
            <input asp-for="updateCourse.TenKHUpdate" type="text" placeholder="Tên khóa học" value="@Model.course.TenKH" required>
            <input asp-for="updateCourse.MoTaKHUpdate" type="text" placeholder="Mô tả khóa học" value="@Model.course.MoTaKH" required>
            <input asp-for="updateCourse.MauSacUpdate" type="text" placeholder="Mã màu khóa học" value="@Model.course.MauSac" required>
        </div>
        <div class="rightInput">
            @{ var imageCourse = Model.course.MaKH + ".jpg";}
            <img id="previewImgUpdate" src="~/CourseImage/@imageCourse">
            <label for="imageUpdate">Chọn ảnh</label>
            <input accept="image/*" asp-for="updateCourse.CourseImageUpdate" id="imageUpdate" type="file" style="display: none;">
        </div>
        <input class="submit" type="submit" asp-page-handler="UpdateCourse" value="Cập nhật khóa học">
    </form>
}
else
{
    <b>Lỗi!!!</b>
}

<script>
    document.getElementById("imageUpdate").onchange = evt => {
        const [file] = document.getElementById("imageUpdate").files;
        if (file) {
            document.getElementById("previewImgUpdate").src = URL.createObjectURL(file);
        }
    }
</script>
